html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: white;
}

ol, ul {
  list-style: none;
}

ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.entryProperties {
  all: none;
}

li.entryProperties {
  display: inline-block;
  background-color: blue;
}

.entryProperty {
  display: grid;

}